{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", { "exclude": ["**/*.spec.js"] }]
      ]
    }
  }
}
